.burger-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.burger-container .burger-bun{
    position: relative;
    min-height: 50px;
    width: 450px;
    background-color: black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger-container .burger-bun:after{
    content: "";
    display: block;
    height: 100px;
    width: 450px;
    background-color: #5C4126;
    position: absolute;
    top: -50px;
    border-radius: 50%;
    z-index: -1;
}
.burger-container .burger-bun:before{
    content: "";
    display: block;
    height: 100px;
    width: 450px;
    background-color: #5C4126;
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    z-index: -1;
}
.burger-container .burger-bun p {
    color: white;
    font-weight: 900;
}
.burger-container .slice1{
    background-color: green;
    height: 10px;
    width: 500px;
    border-radius: 5px;
    margin: 2px 0;
}
.burger-container .slice2{
    background-color: red;
    height: 10px;
    width: 500px;
    border-radius: 5px;
    margin: 2px 0;
}
.burger-container .slice3{
    background-color: yellow;
    height: 10px;
    width: 500px;
    border-radius: 5px;
    margin: 2px 0;
}
.burger-container .slice4{
    background-color: blue;
    height: 10px;
    width: 500px;
    border-radius: 5px;
    margin: 2px 0;
}