.cart-container{
    background-color: #140F2D;
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 50px;
}
.cart-container .empty-cart{
    color: #fff;
}
.cart-container button{
    position: absolute;
    top: 0;
    right: 0;
}
.cart-container .single-cart-item{
    background-color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.cart-container .single-cart-item div{
    display: flex;
    align-items: center;
}
.cart-container .single-cart-item div button{
    position: static;
}
.cart-container .single-cart-item span{
    font-weight: 900;
    margin-right: 15px;
}
.cart-container .total-cart-price{
    background-color: yellow;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 0 10px;
}
.cart-container .total-cart-price p{
    font-weight: 900;
}